body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .container {
    text-align: center;
  }
  
  #destroyman-image {
    width: 300px; /* Adjust size as needed */
    height: auto;
  }
  
  #quote-box {
    background-color: rgb(43, 42, 42);
    color: white;
    width: 60%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width */
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    white-space: normal; /* Allow text to wrap onto new lines */
  }